body {
    background-color: rgb(255, 253, 240);
    font-family: Verdana, Geneva, Tahoma, serif;
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 60%;
}


main {
    margin-bottom: 15vh;
}

#promo {
    height: 30vh;
    background-image: url(/pic/brousc.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255);
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 3%;
    margin-right: 1%;
    border-radius: 10px;
}

.promo-block{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100%;
    flex-direction: column;
    text-align: left;
    margin-left: 1%;
    margin-right: 35vw;
    margin-top: 1vh;
    color: rgb(255, 253, 240);
}

.promo-block h1 {
    font-size: 140%;
    margin-bottom: 2vh; 

}

.promo-block p {
    font-size: 100%;
    font-weight: 600;
    margin: 2vh 0 0 0;
}

.promo-block h1, .promo-block p {
    opacity: 0;
    transition: 1s;
    animation: promo-block 6s 1;
    animation-fill-mode: forwards;
    animation-delay: 2ms;
}

@keyframes promo-block {
    0% {
        opacity:0;
    }
    
    100% {
        opacity:1;
    }
}

.block {
    display: flex;
    flex-wrap: wrap;
}

.block-item {
    flex: 1;
    padding: 1vh 5vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 20px;
    margin-right: 1vw;
}

.header2 {
    padding: 10, 20;
}

.block-item a {
    color: rgb(73, 94, 87);
    vertical-align: middle;
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    text-decoration: none;
}

.block-item:hover {
    flex: 1;
    padding: 1vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 242, 93);
    list-style: none;
}

.info {
    display: flex;

}    

.block-pic {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    align-self: center;
    margin-top: 1vh;

}

div.block-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    margin-bottom: auto;
}


.block-info h2 {
    color: rgb(73, 94, 87);
    display: block;
    text-align: center;
    align-self: center;
    font-size: 120%;
}

.block-info div p {
    color: rgb(73, 94, 87);
    margin-right: 1vw;
    margin-left: 1vw;
    text-align: center;
    font-size: 100%;
}

.block-info.border {
    border-right: 2px solid;
    width: 200px;
    box-sizing: border-box;
    border-left: 2px solid;
}

.worktime {
    margin-top: 1vh;
}

.worktime p{
    font-weight: 600;
}

.worktime li {
    list-style: url(/pic/lemon.png);
    text-align: left;
    list-style-position: inside;
    margin-left: 1vw;
    font-size: 100%;
}

.block-info a {
    flex: 1;
    padding: 1vh 5vw;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 1vw;
    margin-left: 1vw;
    color: rgb(73, 94, 87);
    font-weight: 600;
    font-size: 100%;

}

.block-info a:hover {
    flex: 1;
    padding: 1vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 242, 93);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
}


.footer-block img {
    height: 10vh;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-block h3{
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    vertical-align: bottom;
    border-top: 1px solid;
    border-radius: 0%;
    color: rgb(0, 0, 0);
    margin-right: 1vw;
    margin-left: 1vw;
    text-align: center;
    font-size: 50%;
}

@media screen and (min-width: 1210px) {
    header > img {
        height: 5%;
        width: 40%;
    }
    
    #promo {
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .promo-block h1 {
        font-size: 140%;
    }
    
    .promo-block p {
        font-size: 100%;
    }
    
    .block-item a {
        font-size: 17px;
    }
    
    .block-pic {
        width: 60%;   
    }   
    
    .block-info h2 {
        margin-bottom: -1%;

    }
    
    .worktime {
        margin-top: 1%;
    }

    .worktime li {
        text-align: center;
        margin-right: 4vw;
        margin-top: -1vh;
    }

    .block-info a {
        margin-top: 3vh;
    }

    .footer-container {
        margin-top: 15vh;
    
    }
    
    .footer-block.left img {
        margin-top: 5vh;
        width: 100%;
    }

    .footer-block h3{
        font-size: 70%;
    }

}

@media screen and (min-width: 1100px) and (max-width: 1270px) {    
    .worktime li {
        text-align: center;
        margin-right: 5vw;
    }
}

@media screen and (max-height: 900px) and (max-width: 500px) { 
    
    .block-item {
        padding: 1vh 3vw;
        margin-left: -2vw;
    }

    
    .promo-block h1 {
        font-size: 80%;
    }
    
    .promo-block p {
        font-size: 60%;
    }
    
    main {
        margin-bottom: 10vh;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }    
    
    .block-pic {
        display: block;
        width: 70%;
        margin: 0 auto;
        border-radius: 5px;
        align-self: center;
        margin-top: 1vh;
    
    }
    
    div.block-info {
        flex-direction: column;
    }
    
    .block-info h2 {
        font-size: 90%;
    }
    
    .block-info div p {
        font-size: 80%;
    }
    
    .block-info.border {
        border-right: 0px solid;
        box-sizing: border-box;
        border-left: 0px solid;
        border-top: 2px solid;
        border-bottom: 2px solid black;
        width: 100%;
    }
    
    .block-info a {
        font-size: 90%;
        margin-bottom: 2vh;
    
    }

    .worktime li {
        margin-left: 7vw;
        font-size: 90%;
    }
  
}

@media screen and (max-height: 930px) and (max-width: 500px) { 
    
    #promo {
        height: 25vh;
    }

    .block-item {
        padding: 1vh 2vw;
        margin-left: -2vw;
    }

    .block-item a {
        font-size: 80%;
    }
    
    .promo-block h1 {
        font-size: 80%;
    }
    
    .promo-block p {
        font-size: 60%;
    }
    
    main {
        margin-bottom: 10vh;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }    
    
    .block-pic {
        display: block;
        width: 70%;
        margin: 0 auto;
        border-radius: 5px;
        align-self: center;
        margin-top: 1vh;
    
    }
    
    div.block-info {
        flex-direction: column;
    }
    
    .block-info h2 {
        font-size: 90%;
    }
    
    .block-info div p {
        font-size: 80%;
    }
    
    .block-info.border {
        border-right: 0px solid;
        box-sizing: border-box;
        border-left: 0px solid;
        border-top: 2px solid;
        border-bottom: 2px solid black;
        width: 100%;
    }
    
    .block-info a {
        font-size: 90%;
        margin-bottom: 2vh;
    
    }

    .worktime li {
        margin-left: 13vw;
        font-size: 90%;
    }
  
}

@media screen and (max-height: 1200px) and (max-width: 830px) { 
    
    main {
        margin-bottom: 10vh;
    }

    .block-item a {
        font-size: 100%;
    }
    
    .worktime li {
        margin-left: -1vw;
        font-size: 90%;
    }

    .block-info a {
        padding: 1vh 4vw;
    }
}

@media screen and (max-height: 1370px) and (max-width: 915px) { 

    #promo {
        height: 25vh;
    }

    .block-item a {
        font-size: 100%;
    }

    .worktime li {
        margin-left: 1vw;
        font-size: 90%;
    }
}

@media screen and (max-height: 730px) and (max-width: 550px) { 
    
    #promo {
        height: 25vh;
    }

    .block-item {
        padding: 1vh 2vw;
        margin-left: -2vw;
    }

    .block-item a {
        font-size: 80%;
    }
    
    .promo-block h1 {
        font-size: 70%;
    }
    
    .promo-block p {
        font-size: 20px;
    }
    
    main {
        margin-bottom: 10vh;
    }

    .info {
        flex-direction: column;
    }    
    
    .block-pic {
        width: 50%;
    }
    
    div.block-info {
        flex-direction: column;
    }
    
    .block-info h2 {
        font-size: 90%;
    }
    
    .block-info div p {
        font-size: 80%;
    }
    
    .block-info.border {
        border-right: 0px solid;
        box-sizing: border-box;
        border-left: 0px solid;
        border-top: 2px solid;
        border-bottom: 2px solid black;
        width: 100%;
    }
    
    .block-info a {
        font-size: 90%;
        margin-bottom: 2vh;
    
    }

    .worktime li {
        margin-left: 11vw;
        font-size: 80%;
    }    
}

@media screen and (max-height: 660px) and (max-width: 290px) { 
    
    #promo {
        height: 25vh;
    }

    .block-item {
        padding: 1vh 2vw;
        margin-left: -5w;
    }

    .block-item a {
        font-size: 80%;
    }
    
    .promo-block h1 {
        font-size: 80%;
        margin-bottom: -1vh;
    }
    
    .promo-block p {
        font-size: 60%;
    }
    .promo-block{
        margin-right: 20vw;
    }
    
    main {
        margin-bottom: 10vh;
    }

    .info {
        flex-direction: column;
    }    
    
    .block-pic {
        width: 50%;
    }
    
    div.block-info {
        flex-direction: column;
    }
    
    .block-info h2 {
        font-size: 90%;
    }
    
    .block-info div p {
        font-size: 80%;
    }
    
    .block-info.border {
        border-right: 0px solid;
        box-sizing: border-box;
        border-left: 0px solid;
        border-top: 2px solid;
        border-bottom: 2px solid black;
        width: 100%;
    }
    
    .block-info a {
        font-size: 90%;
        margin-bottom: 2vh;
    
    }

    .worktime li {
        margin-left: 1vw;
        font-size: 80%;
    }
    
    .footer-block h3{
        margin-right: 1vw;
        margin-left: 1vw;
        text-align: center;
        font-size: 30%;
    }    
}

@media screen and (max-height: 915px) and (max-width: 415px) { 

    .block-item a {
        font-size: 80%;
    }

    .worktime li {
        margin-left: 14vw;
        font-size: 80%;
    }
}    

@media screen and (max-height: 600px) and (max-width: 1025px) { 

    .promo-block h1 {
        font-size: 100%;
    }
    
    .promo-block p {
        font-size: 80%;
    }

    .block-item a {
        font-size: 100%;
    }

    .footer-block img {
        height: 15vh;
    }
    
    .footer-block h3{
        font-size: 60%;
    }
}

@media screen and (max-height: 670px) and (max-width: 380px) {

    .promo-block{
        margin-right: 20vw;
    }

    .promo-block h1 {
        font-size: 80%;
    }
    
    .promo-block p {
        font-size: 70%;
    }

    .worktime li {
        margin-left: 11vw;
        font-size: 80%;
    }
}